@font-face {
    font-family: 'Kumbh Sans';
    src: url(fonts/KumbhSans-VariableFont_wght.ttf);
}

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    font-size: 15px;
    margin: 0;
    font-family: 'Kumbh Sans';
    background-image: linear-gradient(to bottom right, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

h1 {
    margin-left: 15px;
}

.card {
    width: 50rem;
    height: 30rem;
    display: flex;
    transition: 0.3s;
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px;
    padding: 0px 75px 30px 0px;

}

.card:hover {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.img {
    position: relative;
    width: 50%;
}

.img-bg {
    position: relative;
    z-index: 1;
    object-fit: cover;
    height: 725px;
    object-position: -353px -135px;
}

.img-woman {
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 75px;
    object-fit: cover;
    object-position: -80px 0px;
}

.img-box {
    position: absolute;
    z-index: 3;
    left: -95px;
    top: 210px;
}

.divider {
    border-top: 1px solid hsl(240, 5%, 91%);
    margin-left: 15px;
}

.accordion-group {
    width: 60%;
    overflow: hidden;
    margin-top: 30px;
    z-index: 5;
}

input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.icon {
    width: 5%;
    height: 5%;
}

.accordion {
    overflow: hidden;
    width: 100%;
}

.accordion-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    cursor: pointer;
    color: hsl(237, 12%, 33%);
}

.accordion-content {
    max-height: 0;
    padding: 0 1em;
    background: white;
    transition: all 0.35s;
    color: hsl(240, 6%, 50%);
}

input:checked~.accordion-content {
    max-height: 100vh;
    padding: 16px;
}

input:checked~.accordion-label {
    font-weight: bold;
}

input:checked~.accordion-label .icon {
    transform: rotate(180deg);
}
