@font-face {
    font-family: 'Kumbh Sans';
    src: url(fonts/KumbhSans-VariableFont_wght.ttf);
}

html {
    height: 100%;
}

body {
    position: relative;
    z-index: 2;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    font-size: 15px;
    margin: 0;
    background-image: linear-gradient(to bottom right, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

h1 {
    margin-left: 15px;
}

.card {
    width: 75rem;
    height: 40rem;
    margin-top: 50%;
    display: flex;
    transition: 0.3s;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    padding: 30px;
}

.card:hover {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.img {
    position: relative;
}

.img-bg {
    position: relative;
    object-fit: cover;
    object-position: 125% 0;
    z-index: 1;
    height: 50%;
    width: 50%;
    left: -100px;
    margin-top: 2em;
}

.img-woman {
    position: absolute;
    z-index: 2;
    width: 50%;
    height: 50%;
    left: -100px;
    top: -40em;

}

.img-box {
    position: absolute;
    z-index: 3;
    height: 15%;
    width: 15%;
    left: -53em;
    top: -47em;
}

.divider {
    border-top: 1px solid hsl(240, 5%, 91%);
    margin-left: 15px;
}

input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.icon {
    width: 5%;
}

.accordion {
    overflow: hidden;
}

.accordion-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    cursor: pointer;
    color: hsl(237, 12%, 33%);
}

.accordion-content {
    max-height: 0;
    padding: 0 1em;
    background: white;
    transition: all 0.35s;
    color: hsl(240, 6%, 50%);
}

input:checked~.accordion-content {
    max-height: 100vh;
    padding: 1em;
}

input:checked~.accordion-label {
    font-weight: bold;
}

input:checked~.accordion-label .icon {
    transform: rotate(180deg);
}
